.placesTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.placesCount{
    font-size: 1.3rem;
    color: var(--black);
}

.placesCount span{
    font-weight: 600;
}

.placesItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.placesItem{
    width: calc(100% / 3 - 24px / 3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid var(--lightGrey);
    overflow: hidden;
}

@media (max-width: 768px) {
    .placesItem{
        width: calc(100% / 2 - 12px / 2);
    }
}
@media (max-width: 440px) {
    .placesItem{
        width: 100%;
    }
}

.placesItemImage{
    position: relative;
    width: 100%;
    aspect-ratio: 1.68 / 1;
    overflow: hidden;
}

.placesItemInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 1.2rem 1rem;
}

.placesItemLocation{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.placesItemLocation span{
    font-size: 1.2rem;
    color: var(--grey);
}

.placesItemLocation span:last-child{
    padding-left: 6px;
    position: relative;
}

.placesItemLocation span:last-child:before{
    content: "";
    display: block;
    width: 1px;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: var(--grey);
}

.placesItemTitle{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--mainDark);
}

.placeById{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.placeByIdTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}