.main{
    width: 100%;
    min-height: 100dvh;
    padding: 19rem 0;
    background: rgba(32, 36, 36, .6);
    display: flex;
    align-items: center;
    position: relative;
}

.mainImg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

.mainImg:after{
    content: "";
    display: block;
    width: 100%;
    height: 220px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(32, 36, 36, .8), transparent);
}

.mainImg:before{
    content: "";
    display: block;
    width: 100%;
    height: 220px;
    background: linear-gradient(to bottom, transparent, rgba(32, 36, 36, .8));
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.mainImg img{
    object-fit: cover;
}

.mainAuthorInner{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.mainImageTitle{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--mainLight);
    text-align: center;
}

.mainImgName{
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}

.mainAuthor{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #fff;
    font-size: 1.2rem;
}

.mainAuthor svg{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .mainAuthor:hover{
        color: var(--mainLight);
    }
}

.mainInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle{
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 998px) {
    .mainTitle{
        font-size: 3rem;
    }
}
@media (max-width: 768px) {
    .mainTitle{
        font-size: 2.3rem;
    }
}

.mainText{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--mainLight);
}

.mainSearchInner{
    width: 100%;
    max-width: 350px;
    position: relative;
    margin-top: 2.6rem;
}

.mainSearch{
    width: 100%;
    padding: 2rem 6.5rem 2rem 2.6rem;
    background: var(--white);
    border-radius: 50px;
    font-size: 1.3rem;
    color: var(--black);
}

@media (max-width: 768px) {
    .mainSearch{
        padding: 1.5rem 6rem 1.5rem 2rem;
    }
}

.mainSearchInner svg{
    width: 24px;
    height: 24px;
    color: var(--main);
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: 26px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .mainSearchInner svg{
        right: 20px;
    }
}