.addPhotoWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.addPhoto{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

@media (max-width: 768px) {
    .addPhoto{
        flex-direction: column-reverse;
    }
}

.addPhotoContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.addPhotoBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.addPhotoBlockTitle{
    font-weight: 600;
    color: var(--black);
}

.addPhotoButtons{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.addPhotoSidebar{
    width: 100%;
    max-width: 255px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 1.5rem 2rem;
    background: var(--lightWhite);
    border-radius: 8px;
}

@media (max-width: 998px) {
    .addPhotoSidebar{
        max-width: 220px;
    }
}
@media (max-width: 768px) {
    .addPhotoSidebar{
        max-width: 100%;
    }
}

.addPhotoButton{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
    color: var(--mainDark);
    font-weight: 500;
}

.addPhotoButton svg{
    width: 24px;
    flex-shrink: 0;
    color: var(--main);
}

.addPhotoLabel{
    width: 100%;
    height: 280px;
    border-radius: 12px;
    border: 1px dashed var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    color: var(--black);
}

@media (max-width: 768px) {
    .addPhotoLabel{
        height: 200px;
    }
}

.addPhotoLabel img{
    object-fit: cover;
}

@media (any-hover: hover) {
    .addPhotoLabel{
        cursor: pointer;
    }
}

.addPhotoLabel svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: var(--main);
}