.profile{
    width: 100%;
    padding: 2rem 0rem 5rem 0;
}

@media (max-width: 998px) {
    .profile{
        padding: 0rem 0rem 5rem 0;
    }
}

.profileInner{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

@media (max-width: 998px) {
    .profileInner{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.profileSidebar{
    width: 100%;
    max-width: 255px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profileSidebar::-webkit-scrollbar{
    width: 0;
    height: 0;
}

@media (max-width: 1140px) {
    .profileSidebar{
        max-width: 230px;
    }
}
@media (max-width: 998px) {
    .profileSidebar{
        width: 100dvw;
        flex-direction: row;
        padding: 0 calc((100dvw - 728px) / 2);
        border-bottom: 1px solid var(--lightGrey);
        gap: 20px;
        max-width: unset;
        position: relative;
        left: calc((100dvw - 728px) / 2 * -1);
        overflow-x: auto;
    }
}
@media (max-width: 768px) {
    .profileSidebar{
        padding: 0 calc((100dvw - 460px) / 2);
        left: calc((100dvw - 460px) / 2 * -1);
    }
}
@media (max-width: 480px) {
    .profileSidebar{
        padding: 0 16px;
        left: -16px;
    }
}
@media (max-width: 400px) {
    .profileSidebar{
        padding: 0 12px;
        left: -12px;
    }
}

.profileSidebarLink{
    width: 100%;
    padding: 1.8rem 1rem;
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 9px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--grey);
}

@media (max-width: 998px) {
    .profileSidebarLink{
        width: auto;
        border-bottom: none;
        position: relative;
        padding: 1.8rem 0;
    }
}

@media (any-hover: hover) {
    .profileSidebarLink:hover, .profileSidebarLink:hover svg{
        color: var(--black);
    }
}

.profileSidebarLink.active{
    color: var(--black);
}

.profileSidebarLink svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: var(--grey);
}

.profileSidebarLink.active svg{
    color: var(--main);
}

@media (max-width: 998px) {
    .profileSidebarLink:before{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: var(--main);
        position: absolute;
        bottom: 0px;
        left: 0;
        opacity: 0;
        transition: opacity .2s linear;
    }

    .profileSidebarLink.active:before{
        opacity: 1;
    }
}

.profileContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}