.photosessionsCount{
    font-size: 1.3rem;
    color: var(--black);
}

.photosessionsCount span{
    font-weight: 600;
}

.photosessionsItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}