.checkboxInner{
    width: 100%;
    display: flex;
}

.checkboxInner.auto{
    width: auto;
}

.checkbox{
    display: none;
}

.checkbox:checked + .checkboxLabel:after{
    opacity: 1;
    top: 7.5px;
}

.checkbox:checked + .checkboxLabel:before{
	border: 1px solid var(--main);
	background: var(--main);
}

.checkboxLabel{
    color: var(--black);
    font-size: 1.4rem;
    line-height: 1.5;
    display: flex;
    position: relative;
    padding-left: 2.5rem;
}

.checkboxLabel:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 2.5px;
    border: 1px solid var(--lightGrey);
    transition: .2s linear;
}

.checkboxLabel:after{
    content: "";
    width: 9px;
    height: 8px;
    background: url("/img/check.svg") center no-repeat;
    position: absolute;
    top: 0;
    left: 4px;
    opacity: 0;
    transition: .2s linear;
}

@media (any-hover: hover) {
    .checkboxLabel{
        cursor: pointer;
    }
}