// Блок с баннером
.banner{
    width: 100%;
    position: relative;
    background: rgba(32, 36, 36, .8);
    min-height: 420px;
    display: flex;
    align-items: center;
    padding: 5rem 0;
}

@media (max-width: 998px) {
    .banner{
        min-height: 340px;
    }
}
@media (max-width: 480px) {
    .banner{
        min-height: unset;
    }
}

.bannerImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.bannerImg img{
    object-fit: cover;
}

.bannerInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bannerTitle{
    text-align: center;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

@media (max-width: 998px) {
    .bannerTitle{
        font-size: 2.4rem;
    }
}
@media (max-width: 480px) {
    .bannerTitle{
        font-size: 2rem;
    }
}

.bannerText{
    text-align: center;
    color: var(--mainLight);
    font-size: 1.4rem;
}

button.bannerButton{
    padding: 2rem 4.5rem;
    text-transform: uppercase;
    margin-top: 1.5rem;

}

@media (max-width: 998px) {
    button.bannerButton{
        padding: 1.4rem 3.5rem;
    }
}