.photoByIdImageInner{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1.68 / 1;
    background: var(--lightGrey);
}

.photoByIdImageInner img{
    object-fit: cover;
}

.photoByIdSlider{
    width: 100%;
    height: 100%;
}

.photoByIdSlide img{
    object-fit: contain;
}

.photoByIdActions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.photoByIdActionsContent{
    display: flex;
    align-items: center;
    gap: 10px;
}

.photoByIdAction{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black);
}

.photoByIdAction svg{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    color: var(--main);
}

.photoByIdAction.like svg{
    color: var(--red);
}

.photoByIdAction.comment svg{
    color: var(--grey);
}

.photoByIdAction.like.active svg{
    fill: var(--red);
}

.photoByIdAction.favorite.active svg{
    fill: var(--main);
}

.photoByIdDate{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--grey);
}

.photoByIdTextInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    margin-top: 2rem;
}

.photoByIdTextTitle{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
}

.photoByIdTextDescription{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.photoByIdTextDescription, .photoByIdTextDescription p{
    font-size: 1.4rem;
    color: var(--black);
}

.sliderBlockArrow{
    padding: 0;
    width: 50px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.sliderBlockArrow.prev{
    left: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
}

.sliderBlockArrow.next{
    right: 0px;
    background: linear-gradient(to left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
}

.sliderBlockArrow svg{
    width: 32px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .sliderBlockArrow{
        width: 40px;
    }

    .sliderBlockArrow svg{
        width: 24px;
    }
}