.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-top: 2.5rem;
}

.paginationButton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.paginationButton.active{
    color: #fff;
    background: var(--main);
}

@media (any-hover: hover) {
    .paginationButton:hover{
        color: #fff;
        background: var(--main);
    }
}