.tabs{
    width: 100%;
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    gap: 20px;
    align-items: center;
}

.tab{
    padding: 1rem 0;
    text-transform: uppercase;
    color: var(--grey);
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
}

p.tab{
    color: var(--black);
}

a.tab:before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--main);
    position: absolute;
    bottom: -1px;
    left: 0;
    opacity: 0;
    transition: opacity .2s linear;;
}

a.tab.active:before{
    opacity: 1;
}

a.tab.active{
    color: var(--black);
}

@media (any-hover: hover) {
    a.tab:hover{
        color: var(--black);
    }
}