.locationWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.locationMap{
    width: 100%;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 650px) {
    .locationMap{
        height: 300px;
    }
}
@media (max-width: 430px) {
    .locationMap{
        height: 250px;
    }
}