.messangerDialog{
    width: 100%;
    border-bottom: 1px solid var(--lightGrey);
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    justify-content: space-between;
}

@media (any-hover: hover) {
    .messangerDialog:hover{
        background: var(--lightWhite);
    }
}
@media (max-width: 768px) {
    .messangerDialog{
        padding: 1.2rem 0.8rem;
    }
}

.messangerDialogTime{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    flex-shrink: 0;
}

.messangerDialogUnreadCount{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
}

.messangerDialogTimeValue{
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--grey);
}

.messangerDialogInfo{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

@media (max-width: 768px) {
    .messangerDialogInfo{
        gap: 10px;
    }
}

.messangerDialogAvatar{
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0;
    background: var(--lightGrey);
}

@media (max-width: 768px) {
    .messangerDialogAvatar{
        width: 55px;
        height: 55px;
    }
}

.messangerDialogAvatar img{
    object-fit: cover;
}

.messangerDialogContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.messangerDialogUser{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.messangerDialogUserName{
    padding-left: 1.2rem;
    position: relative;
    color: var(--grey);
    font-size: 1.4rem;
    font-weight: 600;
}

.messangerDialogUserName:before{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--grey);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.messangerDialogLastMessageInner{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 9px;
}

.messangerDialogLastMessageAvatar{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background: var(--lightGrey);
}

.messangerDialogLastMessageAvatar img{
    object-fit: cover;
}

.messangerDialogLastMessage{
    width: 100%;
    font-size: 1.3rem;
    color: var(--black);
    line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}