.modalOverlay{
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    pointer-events: all;
    background: rgba(0, 0, 0, .5);
}

.modalWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 3.5rem);
    margin: 1.75rem auto;
}

.modalWrapper.default{
    max-width: 600px;
}

.modalWrapper.small{
    max-width: 400px;
}

@media (max-width: 768px) {
    .modalWrapper{
        max-width: 520px;
    }
}
@media (max-width: 520px) {
    .modalWrapper{
        min-height: calc(100% - 5rem);
        margin: 5rem 0 0 0;
        align-items: flex-end;
    }

    .modalWrapper.small{
        max-width: 100%;
    }
}

.modalContent{
    width: 100%;
    border-radius: 20px;
    background: var(--white);
    border: 1px solid var(--lightGrey);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fadeInContent .3s ease-in-out forwards;
}

@keyframes fadeInContent {
    0% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 520px) {
    .modalContent{
        border-radius: 4px 4px 0 0;
        padding: 4rem 1.2rem 0 1.2rem;
        position: relative;
        transform: scale(1) translateY(100dvh);
        max-height: calc(100dvh - 5rem);
    }

    @keyframes fadeInContent {
        0% {
            transform: scale(1) translateY(100dvh);
        }
        100% {
            transform: translateY(0);
        }
    }

    .modalContent:before{
        content: "";
        display: block;
        width: 75px;
        height: 2px;
        border-radius: 50px;
        background: var(--lightGrey);
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.modalTitleInner{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.modalTitle{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
}

.modalCrossButton{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--lighten);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

@media (max-width: 520px) {
    .modalCrossButton{
        display: none;
    }
}

.modalCrossButton svg{
    width: 22px;
    color: var(--main);
}

.modalText{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-break: break-word;
}

.modalText img{
    max-width: 100%;
}

@media (max-width: 520px) {
    .modalText{
        overflow-y: auto;
        height: 100%;
        margin-top: 1.2rem;
    }

    .modalText:last-child{
        padding-bottom: 2.4rem;
    }
}

.confirmModalButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 2rem;
}

@media (max-width: 440px) {
    .confirmModalButtons{
        flex-wrap: wrap;
    }
}