.profies{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

@media (max-width: 998px) {
    .profies{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0;
    }
}

.profiesContent{
    width: 100%;
    padding: 2rem calc((100dvw - 1110px) / 2) 3rem calc((100dvw - 1110px) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.profiesContent.mapShow{
    padding: 2rem 0 3rem calc((100dvw - 1110px) / 2);
}

@media (max-width: 1140px) {
    .profiesContent{
        padding: 2rem calc((100dvw - 958px) / 2) 3rem calc((100dvw - 958px) / 2);
    }

    .profiesContent.mapShow{
        padding: 2rem 0 3rem calc((100dvw - 958px) / 2);
    }
}
@media (max-width: 998px) {
    .profiesContent, .profiesContent.mapShow{
        padding: 3rem calc((100dvw - 728px) / 2) 3rem calc((100dvw - 728px) / 2);
    }
}
@media (max-width: 768px) {
    .profiesContent, .profiesContent.mapShow{
        padding: 3rem calc((100dvw - 460px) / 2) 3rem calc((100dvw - 460px) / 2);
    }
}
@media (max-width: 480px) {
    .profiesContent, .profiesContent.mapShow{
        padding: 3rem 1.6rem;
    }
}

.profiesTitle{
    color: var(--main);
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
}

.profiesMap{
    width: 50%;
    flex-shrink: 0;
    height: 100dvh;
    min-height: 500px;
    position: relative;
    padding: 0 calc((100dvw - 1110px) / 2) 0 0;
}

@media (max-width: 1140px) {
    .profiesMap{
        padding: 0 calc((100dvw - 958px) / 2) 0 0;
    }
}
@media (max-width: 998px) {
    .profiesMap{
        padding: 0;
    }
}

@media (max-width: 998px) {
    .profiesMap{
        width: 100%;
        min-height: unset;
        height: 350px;
    }
}

.profiesMapClose{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--black);
    font-size: 1.3rem;
    padding: 0.7rem 1.2rem;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    background: var(--white);
}

.profiesMapClose svg{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: var(--main);
}

.profiesBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.profiesMapButton{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black);
}

.profiesFilterButton{
    border-radius: 30px;
    border: 1px solid var(--main);
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0.6rem 1.8rem;
}

.profiesMapButton svg, .profiesFilterButton svg{
    color: var(--main);
    width: 24px;
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .profiesFilterButton:hover{
        background: var(--main);
        color: #fff;
    }

    .profiesFilterButton:hover svg{
        color: #fff;
    }
}

.profiesFilters{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.profiesFilterItem{
    width: calc(100% / 4 - 60px / 4);
}

.mapShow .profiesFilterItem{
    width: calc(100% / 2 - 20px / 2);
}

@media (max-width: 998px){
    .profiesFilterItem{
        width: calc(100% / 2 - 20px / 2);
    }
}
@media (max-width: 430px){
    .profiesFilterItem, .mapShow .profiesFilterItem{
        width: 100%;
    }
}

.profiesItemsInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.profiesItemsTitle{
    font-size: 1.3rem;
    color: var(--black);
}

.profiesItemsSort{
    width: 100%;
    max-width: 200px;
}

.profiesItemsTitleInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: .7rem;
    border-bottom: 1px solid var(--lightGrey);
}

.placesItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

div.profiesItem{
    width: calc(100% / 3 - 24px / 3);
}

.mapShow div.profiesItem{
    width: calc(100% / 2 - 12px / 2);
}

@media (max-width: 768px) {
    div.profiesItem{
        width: calc(100% / 2 - 20px / 2);
    }
}
@media (max-width: 450px) {
    div.profiesItem, .mapShow div.profiesItem{
        width: 100%;
    }
}

div.profiesPagination{
    margin-top: 0;
}