.photos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photoTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.photosTabs:not(:first-child){
    margin-top: 1.5rem;
}

.photoTopCount{
    font-size: 1.3rem;
    color: var(--black);
}

.photoTopCount span{
    font-weight: 600;
}

.photoProfileItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin-top: 2rem;
}

.photosContent{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photoTopWrap{
    display: flex;
    align-items: center;
    gap: 20px;
}

.addLink{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--mainDark);
    font-size: 1.3rem;
    font-weight: 500;
}

.addLink svg{
    width: 24px;
    flex-shrink: 0;
    color: var(--main);
}

.actionSelect{
    width: 200px;
}

.albumsTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.albumsTopCount{
    font-size: 1.3rem;
    color: var(--black);
}

.albumsTopCount span{
    font-weight: 600;
}

.albumItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 2rem;
}

.albumItem{
    width: calc(100% / 3 - 24px / 3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--lightGrey);
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .albumItem{
        width: calc(100% / 2 - 12px / 2);
    }
}
@media (max-width: 400px) {
    .albumItem{
        width: 100%;
    }
}

.albumItemImage{
    width: 100%;
    aspect-ratio: 1.67 / 1;
    position: relative;
    overflow: hidden;
    background: var(--lightGrey);
}

.albumItemInfo{
    width: 100%;
    padding: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.albumItemInfoTitle{
    font-size: 1.6rem;
    color: var(--main);
    font-weight: 600;
}

@media (max-width: 440px) {
    .albumItemInfoTitle{
        font-size: 1.4rem;
    }
}

.albumItemInfoCount{
    font-size: 1.4rem;
    color: var(--black);
    font-weight: 500;
}

@media (max-width: 440px) {
    .albumItemInfoCount{
        font-size: 1.3rem;
    }
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-top: 2.5rem;
}

.paginationButton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.paginationButton.active{
    color: #fff;
    background: var(--main);
}

@media (any-hover: hover) {
    .paginationButton:hover{
        color: #fff;
        background: var(--main);
    }
}