.photos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photoTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.photosTabs:not(:first-child){
    margin-top: 1.5rem;
}

.photoTopCount{
    font-size: 1.3rem;
    color: var(--black);
}

.photoTopCount span{
    font-weight: 600;
}

.photoProfileItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin-top: 2rem;
}

.photosContent{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photoTopWrap{
    display: flex;
    align-items: center;
    gap: 20px;
}

.addLink{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--mainDark);
    font-size: 1.3rem;
    font-weight: 500;
}

.addLink svg{
    width: 24px;
    flex-shrink: 0;
    color: var(--main);
}

.actionSelect{
    width: 200px;
}

.albumsTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.albumsTopCount{
    font-size: 1.3rem;
    color: var(--black);
}

.albumsTopCount span{
    font-weight: 600;
}

.albumItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 2rem;
}