.places{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.placesContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 2rem;
}

.placesCount{
    font-size: 1.3rem;
    color: var(--black);
}

.placesCount span{
    font-weight: 600;
}

.placesItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}