.actionTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.actionTopCount{
    font-size: 1.3rem;
    color: var(--black);
}

.actionTopCount span{
    font-weight: 600;
}

.actionTopWrap{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.addLink{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--mainDark);
    font-size: 1.3rem;
    font-weight: 500;
}

.addLink svg{
    width: 24px;
    flex-shrink: 0;
    color: var(--main);
}

.actionSelect{
    width: 200px;
}